@navbarBackground: #ac3a00;
@navbarBackgroundHighlight: #ff5600;
.header{
    .navbar;
    .navbar-fixed-top;
    .navbar-inner;
}

.map {
    margin: 0; padding: 0;
    height: 100%;
}

a.fb_button, a.fb_button_rtl, .fb_button, .fb_button_rtl {
    text-decoration: none;
}
.fb_button_medium, .fb_button_medium_rtl {
    background-position: left -188px;
    font-size: 11px;
    line-height: 14px;
}
a.fb_button, a.fb_button_rtl, .fb_button, .fb_button_rtl {
  text-decoration: none;
}
.fb_button, .fb_button_rtl {
    background: url("https://s-static.ak.fbcdn.net/rsrc.php/v2/yL/r/FGFbc80dUKj.png") no-repeat scroll 0 0 #29447E;
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    padding: 0 0 0 1px;
    text-decoration: none;
}
a {
    color: #0088CC;
    text-decoration: none;
}